div.inner {
  display: inline-table;
  width: 364px;
}
.cells, .week {
  display: inline-table;
  width: 52px;
  flex-wrap: wrap;
  padding: 5px;
  border: 2px groove lightgray;
  text-align: center;
  cursor: pointer;
}
.week {
  background: gray;
  color: white;
  cursor: default;
}
div.cells.prev, div.cells.foll {
  background: lightgrey;
  color: darkgrey;
}
div.cells:hover {
  background: black;
  color: white;
}
