div.inner {
  display: inline-table;
  width: 364px;
}
div.cells {
  display: inline-table;
  width: 91px;
  flex-wrap: wrap;
  padding: 5px;
  border: 2px groove lightgray;
  text-align: center;
  cursor: pointer;
  font-size: small;
}
div.cells:hover {
  background: black;
  color: white;
}
