div  {
  /** Для эксплорера */
  -ms-user-select: none;
  /** Для мозилы */
  -moz-user-select: none;
  /** Для конкверора */
  -khtml-user-select: none;
  /**Для Сафари и Хрома */
  -webkit-user-select: none;
}
div.inner {
  display: inline-table;
  width: 350px;
}
div.cells {
  display: inline-table;
  width: 87px;
  flex-wrap: wrap;
  padding: 5px;
  border: 2px groove lightgray;
  text-align: center;
  cursor: pointer;
  font-size: small;
}
div.cells:hover {
  background: black;
  color: white;
}
